name: Promote snaps

on:
  workflow_call:
    inputs:
      snap:
        default: ''
        description: The snap to promote.
        required: true
        type: string
      from-channel:
        default: 'latest/candidate'
        description: The channel from which to promote.
        required: false
        type: string
      to-channel:
        default: 'latest/stable'
        description: The channel to which to promote.
        required: false
        type: string
    secrets:
      snapstore-login:
        description: Snap Store credential (see 'snapcraft export-login').
        required: true

jobs:
  promote:
    runs-on: ubuntu-latest
    env:
      SNAPCRAFT_STORE_CREDENTIALS: ${{ secrets.snapstore-login }}
    steps:

      - name: Check Snapstore login
        run: |
          # Check if the key is empty
          if [ -z "${SNAPCRAFT_STORE_CREDENTIALS}" ]; then
            echo "Snapstore login is empty !"
            exit 1
          fi

      - name: Setup Snapcraft
        run: sudo snap install snapcraft --classic

      - name: Promote snap
        env:
          SNAPCRAFT_HAS_TTY: "true" # this is necessary because snapcraft will not allow --yes for promotions of the edge channel
        # Note: using `yes |` instead of `--yes` because snapcraft will
        #       refuse to non-interactively promote a snap from the edge
        #       channel if it is done without any branch qualifiers
        # see: https://github.com/canonical/snapcraft/issues/5945
        run: yes | snapcraft promote ${{ inputs.snap }} --from-channel ${{ inputs.from-channel }} --to-channel ${{ inputs.to-channel }}

      - uses: actions/upload-artifact@v4
        name: Upload Snapcraft promote logs
        if: always()
        with:
          name: snapcraft_logs
          path: /home/runner/.local/state/snapcraft/log/
